body {
  font-family: Roboto;
}

ul, ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

address {
  font-style: normal;
}

button {
  border: none;
}

img {
  display: block;
}

.customers, .footer {
  display: none;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 767px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1199px) {
  .container {
    width: 1200px;
  }
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 1;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.no-scroll {
  overflow: hidden;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 450px;
  height: 609px;
  background-color: #ffffff;
  transform: translate(-50%, -50%);
  border: 1px solid rgba(33, 33, 33, 0.1254901961);
  border-radius: 4px;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.1411764706);
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.1215686275);
}
.modal-btn-close {
  width: 30px;
  height: 30px;
  margin-top: 8px;
  margin-left: 490px;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.062745098);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: _;
  flex-wrap: _;
  flex-direction: _;
}
.modal-btn-close:hover > svg {
  fill: #2196f3;
}
.modal-title {
  font-family: inherit;
  font-size: 20px;
  font-weight: 700;
  line-height: 23.44px;
  letter-spacing: 0.03em;
  text-align: center;
  margin-top: 2px;
  margin-bottom: 26px;
  max-width: 370px;
  margin: 0 auto;
}
@media screen and (min-width: 1199px) {
  .modal-title {
    margin-bottom: 12px;
  }
}
.modal-form {
  margin-left: 40px;
  margin-right: 40px;
  margin-bottom: 20px;
}
.modal-form-label {
  font-family: inherit;
  font-size: 12px;
  font-weight: 400;
  line-height: 14.06px;
  letter-spacing: 0.01em;
  text-align: left;
  color: #757575;
}
.modal-form-input-wrapper {
  width: 100%;
  height: 40px;
  margin-top: 4px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.1254901961);
  padding-left: 12px;
  display: flex;
  justify-content: _;
  align-items: center;
  gap: 12px;
  flex-wrap: _;
  flex-direction: _;
}
.modal-form-input-wrapper:has(.modal-form-input:focus) {
  border: 1px solid #2196f3;
}
.modal-form-input {
  border: 0;
  outline: 0;
}
.modal-form-input-svg:has(+ .modal-form-input:focus) {
  fill: #2196f3;
}
.modal-form-textarea {
  width: 100%;
  height: 120px;
  margin-bottom: 20px;
  margin-top: 4px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.1254901961);
  resize: none;
  font-family: inherit;
  font-size: 12px;
  font-weight: 400;
  line-height: 14.06px;
  letter-spacing: 0.01em;
  text-align: left;
  outline: 0;
  padding-top: 12px;
  padding-left: 16px;
}
.modal-form-textarea:focus {
  border: 1px solid #2196f3;
}
.modal-form-checkbox-text {
  display: inline;
  font-family: inherit;
  font-size: 12px;
  font-weight: 400;
  line-height: 14.06px;
  letter-spacing: 0.03em;
  text-align: left;
  color: #757575;
  margin-right: 100px;
}
.modal-form-checkbox-text-link {
  text-decoration: underline;
  color: #2196f3;
}
@media screen and (min-width: 1199px) {
  .modal-form-checkbox-text {
    font-family: inherit;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.03em;
  }
}
.modal-btn-send {
  display: block;
  margin: 0 auto;
  margin-top: 6px;
  width: 200px;
  height: 50px;
  color: #ffffff;
  background-color: #2196f3;
  border-radius: 4px;
  font-family: inherit;
  font-size: 16px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.06em;
  text-align: center;
  margin-bottom: 40px;
  cursor: pointer;
}
@media screen and (min-width: 1199px) {
  .modal {
    width: 528px;
    height: 581px;
  }
}

.mobile-menu {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #ffffff;
  width: 100vw;
  height: 100vh;
  padding: 48px 40px;
  transform: translateX(0);
  transition: 500ms;
  display: flex;
  justify-content: space-between;
  align-items: _;
  gap: _;
  flex-wrap: _;
  flex-direction: column;
}
.mobile-menu.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  transform: translateX(100%);
}
.mobile-menu-btn-close {
  background: transparent;
  position: absolute;
  top: 10px;
  right: 15px;
  width: 40px;
  height: 40px;
}
.mobile-menu-btn-close use {
  fill: #212121;
}
.mobile-menu-btn-close:hover use {
  fill: #2196f3;
}
.mobile-menu-nav-list {
  margin-top: 8px;
}
.mobile-menu-nav-list-item:not(:last-child) {
  margin-bottom: 32px;
}
.mobile-menu-nav-list-link {
  font-family: inherit;
  font-size: 40px;
  font-weight: 500;
  line-height: 46.88px;
  letter-spacing: 0.02em;
  text-align: left;
  color: #212121;
}
.mobile-menu-nav-list-link:hover {
  color: #2196f3;
}
.mobile-menu-contact-list {
  margin-bottom: 64px;
  text-align: left;
}
.mobile-menu-contact-list-item {
  margin-bottom: 32px;
}
.mobile-menu-contact-list-item:first-child {
  font-family: inherit;
  font-size: 34px;
  font-weight: 500;
  line-height: 39.84px;
  letter-spacing: 0.02em;
  color: #2196f3;
}
.mobile-menu-contact-list-item:last-child {
  font-family: inherit;
  font-size: 24px;
  font-weight: 500;
  line-height: 28.13px;
  letter-spacing: 0.02em;
  color: #757575;
}
.mobile-menu-social-list {
  display: flex;
  justify-content: _;
  align-items: _;
  gap: 10px;
  flex-wrap: _;
  flex-direction: _;
}
.mobile-menu-social-list-item:not(:first-child) {
  border-left: 1px solid rgba(33, 33, 33, 0.1254901961);
  padding-left: 10px;
}
.mobile-menu-social-list-link {
  font-family: inherit;
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0.02em;
  text-align: left;
  color: #2196f3;
}

.header {
  background-color: #ffffff;
  width: 100%;
  padding-top: 16px;
  padding-bottom: 16px;
  border: 1px solid #ECECEC;
  position: fixed;
  top: 0;
}
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: _;
  flex-wrap: _;
  flex-direction: _;
}
@media screen and (min-width: 1199px) {
  .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 93px;
    flex-wrap: _;
    flex-direction: _;
  }
}
.header .nav-list {
  display: none;
}
.header .nav-list-link {
  font-family: inherit;
  font-size: 14px;
  font-weight: 500;
  line-height: 16.41px;
  letter-spacing: 0.02em;
  color: #212121;
}
.header .nav-list-link:hover {
  color: #2196f3;
}
.header .nav-list .current {
  position: relative;
}
.header .nav-list .current::after {
  content: "";
  position: absolute;
  background-color: #2196f3;
  height: 4px;
  border-radius: 2px;
  width: 100%;
  bottom: -35px;
  left: 0;
}
@media screen and (min-width: 767px) {
  .header .nav-list {
    display: flex;
    justify-content: _;
    align-items: _;
    gap: 60px;
    flex-wrap: _;
    flex-direction: _;
  }
}
.header .contact-list {
  display: none;
}
.header .contact-list-item {
  display: flex;
  justify-content: _;
  align-items: center;
  gap: 10px;
  flex-wrap: _;
  flex-direction: _;
}
.header .contact-list-item:hover .contact-list-icon {
  fill: #2196f3;
}
.header .contact-list-item:hover .contact-list-link {
  color: #2196f3;
}
.header .contact-list-link {
  font-family: inherit;
  font-size: 14px;
  font-weight: 500;
  line-height: 16.41px;
  letter-spacing: 0.02em;
  text-align: left;
  color: #757575;
}
@media screen and (min-width: 767px) {
  .header .contact-list-link {
    font-family: inherit;
    font-size: 12px;
    font-weight: 500;
    line-height: 14.06px;
    letter-spacing: 0.02em;
  }
}
.header .contact-list-icon {
  fill: #757575;
}
@media screen and (min-width: 767px) {
  .header .contact-list {
    display: flex;
    justify-content: _;
    align-items: _;
    gap: 10px;
    flex-wrap: _;
    flex-direction: column;
  }
}
@media screen and (min-width: 1199px) {
  .header .contact-list {
    display: flex;
    justify-content: _;
    align-items: _;
    gap: 50px;
    flex-wrap: _;
    flex-direction: row;
    margin-left: auto;
  }
}
.header .mobile-menu-btn-open {
  background: transparent;
}
.header .mobile-menu-btn-open .mobile-menu-svg {
  fill: #212121;
}
@media screen and (min-width: 767px) {
  .header .mobile-menu-btn-open {
    display: none;
  }
}
@media screen and (min-width: 767px) {
  .header {
    padding-top: 26px;
    padding-bottom: 26px;
  }
}
@media screen and (min-width: 1199px) {
  .header {
    padding-top: 24px;
    padding-bottom: 25px;
  }
}

.company-logo {
  font-family: Raleway;
  font-size: 24px;
  font-weight: 700;
  line-height: 28.18px;
  letter-spacing: 0.03em;
  text-align: left;
  color: #2196f3;
}
.company-logo-header {
  color: #000000;
}
.company-logo-footer {
  color: #ffffff;
}
@media screen and (min-width: 1199px) {
  .company-logo {
    font-family: Raleway;
    font-size: 26px;
    font-weight: 700;
    line-height: 35.96px;
    letter-spacing: 0.03em;
  }
}

.hero {
  background-color: #2f303a;
  padding-top: 118px;
  padding-bottom: 118px;
}
.hero-title {
  font-family: inherit;
  font-size: 26px;
  font-weight: 900;
  line-height: 42px;
  letter-spacing: 0.06em;
  color: #ffffff;
  text-transform: uppercase;
  margin: 0 auto;
  margin-bottom: 30px;
  max-width: 360px;
  text-align: center;
}
@media screen and (min-width: 1199px) {
  .hero-title {
    font-family: inherit;
    font-size: 44px;
    font-weight: 900;
    line-height: 60px;
    letter-spacing: 0.06em;
    max-width: 696px;
  }
}
.hero-btn {
  display: block;
  font-family: inherit;
  font-size: 16px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.06em;
  background-color: #2196f3;
  color: #ffffff;
  width: 200px;
  height: 50px;
  margin: 0 auto;
  border-radius: 4px;
}
@media screen and (min-width: 1199px) {
  .hero-btn {
    width: 216px;
  }
}
@media screen and (min-width: 1199px) {
  .hero {
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

.features {
  padding: 60px 0px;
}
.features-list {
  display: flex;
  justify-content: _;
  align-items: center;
  gap: 30px;
  flex-wrap: _;
  flex-direction: column;
}
.features-list-title {
  font-family: inherit;
  font-size: 14px;
  font-weight: 700;
  line-height: 16.41px;
  letter-spacing: 0.03em;
  color: #212121;
  text-transform: capitalize;
  margin-bottom: 10px;
  text-align: center;
  width: 100%;
}
@media screen and (min-width: 767px) {
  .features-list-title {
    text-align: left;
  }
}
.features-list-text {
  font-family: inherit;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #757575;
}
.features-list-item {
  width: 450px;
  display: flex;
  justify-content: _;
  align-items: center;
  gap: _;
  flex-wrap: _;
  flex-direction: column;
}
.features-list-item:nth-child(1)::before {
  content: url("/img/img_18.png");
  margin-bottom: 30px;
}
.features-list-item:nth-child(2)::before {
  content: url("/img/img_19.png");
  margin-bottom: 30px;
}
.features-list-item:nth-child(3)::before {
  content: url("/img/img_20.png");
  margin-bottom: 30px;
}
.features-list-item:nth-child(4)::before {
  content: url("/img/img_21.png");
  margin-bottom: 30px;
}
@media screen and (min-width: 767px) {
  .features-list-item {
    width: 354px;
  }
}
@media screen and (min-width: 1199px) {
  .features-list-item {
    width: 270px;
  }
}
@media screen and (min-width: 767px) {
  .features-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    flex-wrap: wrap;
    flex-direction: row;
  }
}
@media screen and (min-width: 1199px) {
  .features-list {
    display: flex;
    justify-content: space-between;
    align-items: _;
    gap: 0px;
    flex-wrap: _;
    flex-direction: row;
  }
}
@media screen and (min-width: 1199px) {
  .features {
    padding: 94px 0px;
  }
}

.work {
  display: none;
  padding-top: 94px;
  padding-bottom: 94px;
}
.work-title {
  font-family: inherit;
  font-size: 36px;
  font-weight: 700;
  line-height: 42.19px;
  letter-spacing: 0.03em;
  text-align: center;
  color: #212121;
  margin-bottom: 50px;
}
.work-list {
  display: flex;
  justify-content: space-between;
  align-items: _;
  gap: _;
  flex-wrap: _;
  flex-direction: _;
}
.work-list-wrapper {
  position: relative;
}
.work-list-text {
  position: absolute;
  margin: 0;
  bottom: 0;
  left: 0;
  color: #ffffff;
  background-color: rgba(47, 48, 58, 0.5019607843);
  height: 70px;
  width: 100%;
  text-align: center;
  font-family: inherit;
  font-size: 14px;
  font-weight: 700;
  line-height: 16.41px;
  letter-spacing: 0.03em;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: _;
  flex-wrap: _;
  flex-direction: _;
}
@media screen and (min-width: 1199px) {
  .work {
    display: block;
  }
}

.team {
  background-color: #f5f4fa;
  padding: 60px 0px;
}
.team-title {
  font-family: inherit;
  font-size: 36px;
  font-weight: 700;
  line-height: 42.19px;
  letter-spacing: 0.03em;
  text-align: center;
  color: #212121;
  margin-bottom: 30px;
}
@media screen and (min-width: 1199px) {
  .team-title {
    margin-bottom: 50px;
  }
}
.team-list {
  display: flex;
  justify-content: _;
  align-items: center;
  gap: 30px;
  flex-wrap: nowrap;
  flex-direction: column;
}
.team-list-item {
  background-color: #ffffff;
  width: 450px;
  height: 622px;
  text-align: center;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}
@media screen and (min-width: 767px) {
  .team-list-item {
    width: 354px;
    height: 536px;
  }
}
@media screen and (min-width: 1199px) {
  .team-list-item {
    width: 270px;
    height: 428px;
  }
}
.team-list-img {
  width: 100%;
  height: auto;
  border-radius: 0px 0px 4px 4px;
}
@media screen and (min-width: 1199px) {
  .team-list-img {
    width: 450px;
    height: 460px;
  }
}
.team-list-title {
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 18.75px;
  letter-spacing: 0.03em;
  text-align: center;
  color: #212121;
  margin-top: 30px;
}
.team-list-text {
  font-family: inherit;
  font-size: 16px;
  font-weight: 400px;
  line-height: 18.75px;
  letter-spacing: 0.03em;
  text-align: center;
  color: #757575;
  margin-top: 10px;
}
.team-list-social-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-wrap: _;
  flex-direction: _;
  margin-right: 32px;
  margin-left: 32px;
  margin-bottom: 30px;
  margin-top: 16px;
}
.team-list-social-list-item {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: _;
  flex-wrap: _;
  flex-direction: _;
}
.team-list-social-list-item:hover {
  background-color: #2196f3;
  cursor: pointer;
}
.team-list-social-list-item:hover .team-list-social-list-link > .team-list-social-list-svg {
  fill: #ffffff;
}
.team-list-social-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: _;
  flex-wrap: _;
  flex-direction: _;
}
.team-list-social-list-svg {
  fill: #AFB1B8;
}
@media screen and (min-width: 767px) {
  .team-list {
    display: flex;
    justify-content: _;
    align-items: _;
    gap: 30px;
    flex-wrap: wrap;
    flex-direction: row;
  }
}
@media screen and (min-width: 1199px) {
  .team-list {
    display: flex;
    justify-content: space-between;
    align-items: _;
    gap: nowrap;
    flex-wrap: _;
    flex-direction: row;
  }
}
@media screen and (min-width: 1199px) {
  .team {
    padding: 94px 0px;
  }
}

.customers {
  padding-left: 215px;
  padding-right: 215px;
  padding-top: 94px;
  padding-bottom: 94px;
}
.customers-title {
  font-family: inherit;
  font-size: 36px;
  font-weight: 700;
  line-height: 42.19px;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 50px;
}
.customers-list {
  display: flex;
  justify-content: space-between;
  align-items: _;
  gap: _;
  flex-wrap: _;
  flex-direction: _;
}
.customers-list-item {
  width: 170px;
  height: 92px;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: _;
  flex-wrap: _;
  flex-direction: _;
}
.customers-list-item:hover {
  border: 1px solid #2196f3;
}
.customers-list-item:hover .customers-list-use {
  fill: #2196f3;
  transition: 500ms;
}
.customers-list-item .customers-list-use {
  fill: #AFB1B8;
}

.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer-container {
  display: flex;
  justify-content: _;
  align-items: _;
  gap: _;
  flex-wrap: _;
  flex-direction: _;
}
.footer .address {
  margin-top: 20px;
  margin-right: 70px;
}
.footer .address-list-item {
  margin-top: 9px;
}
.footer .address-list-address {
  font-family: inherit;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #ffffff;
}
.footer .address-list-link {
  font-family: inherit;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.footer-social-wrapper {
  margin-top: 12px;
  margin-left: 70px;
}
.footer-join {
  font-family: inherit;
  font-size: 14px;
  font-weight: 700;
  line-height: 16.41px;
  letter-spacing: 0.03em;
  text-align: left;
  color: #ffffff;
}
.footer-join-social-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-wrap: _;
  flex-direction: _;
  margin-top: 20px;
}
.footer-join-social-list-item {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: _;
  flex-wrap: _;
  flex-direction: _;
  background-color: rgba(255, 255, 255, 0.1019607843);
}
.footer-join-social-list-item:hover {
  background-color: #2196f3;
  cursor: pointer;
}
.footer-join-social-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: _;
  flex-wrap: _;
  flex-direction: _;
}
.footer-join-social-list-svg {
  fill: #ffffff;
}
.footer-form {
  display: flex;
  justify-content: _;
  align-items: center;
  gap: 12px;
  flex-wrap: _;
  flex-direction: _;
}
.footer-form-wrapper {
  margin-left: 93px;
  margin-top: 12px;
}
.footer-form-title {
  font-family: inherit;
  font-size: 14px;
  font-weight: 700;
  line-height: 16.41px;
  letter-spacing: 0.03em;
  text-align: left;
  color: #ffffff;
  margin-bottom: 20px;
}
.footer-form-input {
  width: 358px;
  height: 50px;
  border-radius: 4px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3019607843);
  font-family: inherit;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.03em;
  text-align: left;
  color: rgba(255, 255, 255, 0.6);
  padding-left: 16px;
  outline: none;
}
.footer-form-btn {
  font-family: inherit;
  font-size: 16px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.06em;
  text-align: center;
  color: #ffffff;
  background-color: #2196f3;
  width: 200px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 22px;
  flex-wrap: _;
  flex-direction: _;
  cursor: pointer;
  border-radius: 4px;
}
.footer-form-svg {
  fill: #ffffff;
}

.portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}
.portfolio-container {
  display: flex;
  justify-content: _;
  align-items: center;
  gap: _;
  flex-wrap: _;
  flex-direction: column;
  padding-bottom: 94px;
}
.portfolio-container .filter-list {
  margin-bottom: 50px;
  display: flex;
  justify-content: space-between;
  align-items: _;
  gap: 8px;
  flex-wrap: _;
  flex-direction: _;
}
.portfolio-container .filter-list-btn {
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0.03em;
  color: #212121;
  background-color: #f5f4fa;
  padding: 6px 25px;
  border-radius: 4px;
  cursor: pointer;
  transition-property: background-color color;
  transition-duration: 0.4s;
}
.portfolio-container .filter-list-btn:hover {
  color: #ffffff;
  background-color: #2196f3;
}
.portfolio-container .product-list {
  display: flex;
  justify-content: _;
  align-items: _;
  gap: 30px;
  flex-wrap: wrap;
  flex-direction: _;
}
.portfolio-container .product-list-item {
  border: 1px solid #eeeeee;
  width: 370px;
  height: 404px;
}
.portfolio-container .product-list-item:hover {
  box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.1607843137);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.0588235294);
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.1215686275);
}
.portfolio-container .product-list-link:hover {
  cursor: pointer;
}
.portfolio-container .product-list-link:hover .product-list-overlay-text {
  transform: translate(0, 0);
}
.portfolio-container .product-list-overlay-wrap {
  position: relative;
  overflow: hidden;
}
.portfolio-container .product-list-overlay-text {
  color: #ffffff;
  background-color: rgba(33, 150, 243, 0.8980392157);
  padding: 63px 24px;
  position: absolute;
  top: 0;
  left: 0;
  font-family: inherit;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.03em;
  text-align: left;
  transform: translate(0, 100%);
  transition: 1s;
}
.portfolio-container .product-list-img {
  width: 370px;
  height: 294px;
  display: block;
}
.portfolio-container .product-list-title {
  font-family: Roboto;
  font-size: 18px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0.06em;
  color: #212121;
  margin-bottom: 4px;
}
.portfolio-container .product-list-type {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.03em;
  text-align: left;
  color: #757575;
}
.portfolio-container .product-list-text-wrap {
  padding: 20px 24px 22px 24px;
}/*# sourceMappingURL=main.css.map */