ul, ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

address {
  font-style: normal;
}

button {
  border: none;
}

img {
  display: block;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 767px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1199px) {
  .container {
    width: 1200px;
  }
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 1;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.no-scroll {
  overflow: hidden;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 528px;
  height: 581px;
  background-color: #ffffff;
  transform: translate(-50%, -50%);
  border: 1px solid rgba(33, 33, 33, 0.1254901961);
  border-radius: 4px;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.1411764706);
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.1215686275);
}
.modal-btn-close {
  width: 30px;
  height: 30px;
  margin-top: 8px;
  margin-left: 490px;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.062745098);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: _;
  flex-wrap: _;
  flex-direction: _;
}
.modal-btn-close:hover > svg {
  fill: #2196f3;
}
.modal-title {
  font-family: inherit;
  font-size: 20px;
  font-weight: 700;
  line-height: 23.44px;
  letter-spacing: 0.03em;
  text-align: center;
  margin-top: 2px;
  margin-bottom: 12px;
}
.modal-form {
  margin-left: 40px;
  margin-right: 40px;
  margin-bottom: 20px;
}
.modal-form-label {
  font-family: inherit;
  font-size: 12px;
  font-weight: 400;
  line-height: 14.06px;
  letter-spacing: 0.01em;
  text-align: left;
  color: #757575;
}
.modal-form-input-wrapper {
  width: 100%;
  height: 40px;
  margin-top: 4px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.1254901961);
  padding-left: 12px;
  display: flex;
  justify-content: _;
  align-items: center;
  gap: 12px;
  flex-wrap: _;
  flex-direction: _;
}
.modal-form-input-wrapper:has(.modal-form-input:focus) {
  border: 1px solid #2196f3;
}
.modal-form-input {
  border: 0;
  outline: 0;
}
.modal-form-input-svg:has(+ .modal-form-input:focus) {
  fill: #2196f3;
}
.modal-form-textarea {
  width: 100%;
  height: 120px;
  margin-bottom: 20px;
  margin-top: 4px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.1254901961);
  resize: none;
  font-family: inherit;
  font-size: 12px;
  font-weight: 400;
  line-height: 14.06px;
  letter-spacing: 0.01em;
  text-align: left;
  outline: 0;
  padding-top: 12px;
  padding-left: 16px;
}
.modal-form-textarea:focus {
  border: 1px solid #2196f3;
}
.modal-form-checkbox-text {
  display: inline;
  font-family: inherit;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-align: left;
  color: #757575;
  margin-right: 100px;
}
.modal-form-checkbox-text-link {
  text-decoration: underline;
  color: #2196f3;
}
.modal-btn-send {
  display: block;
  margin: 0 auto;
  margin-top: 6px;
  width: 200px;
  height: 50px;
  color: #ffffff;
  background-color: #2196f3;
  border-radius: 4px;
  font-family: inherit;
  font-size: 16px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.06em;
  text-align: center;
  margin-bottom: 40px;
  cursor: pointer;
}

.header {
  background-color: #ffffff;
  width: 100%;
  padding-top: 24px;
  padding-bottom: 25px;
  border: 1px solid #ECECEC;
  position: fixed;
  top: 0;
}
.header-container {
  display: flex;
  justify-content: _;
  align-items: center;
  gap: 93px;
  flex-wrap: _;
  flex-direction: _;
}
.header .company-logo {
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  line-height: 35.96px;
  letter-spacing: 0.03em;
  color: #2196f3;
}
.header .company-logo-header {
  color: #000000;
}
.header .company-logo-footer {
  color: #ffffff;
}
.header .nav-list {
  display: flex;
  justify-content: _;
  align-items: _;
  gap: 60px;
  flex-wrap: _;
  flex-direction: _;
}
.header .nav-list-link {
  font-family: inherit;
  font-size: 14px;
  font-weight: 500;
  line-height: 16.41px;
  letter-spacing: 0.02em;
  color: #212121;
}
.header .nav-list-link:hover {
  color: #2196f3;
}
.header .nav-list .current {
  position: relative;
}
.header .nav-list .current::after {
  content: "";
  position: absolute;
  background-color: #2196f3;
  height: 4px;
  border-radius: 2px;
  width: 100%;
  bottom: -35px;
  left: 0;
}
.header .contact-list {
  display: flex;
  justify-content: _;
  align-items: _;
  gap: 50px;
  flex-wrap: _;
  flex-direction: _;
  margin-left: auto;
}
.header .contact-list-item {
  display: flex;
  justify-content: _;
  align-items: center;
  gap: 10px;
  flex-wrap: _;
  flex-direction: _;
}
.header .contact-list-item:hover .contact-list-icon {
  fill: #2196f3;
}
.header .contact-list-item:hover .contact-list-link {
  color: #2196f3;
}
.header .contact-list-link {
  font-family: inherit;
  font-size: 14px;
  font-weight: 500;
  line-height: 16.41px;
  letter-spacing: 0.02em;
  color: #757575;
}
.header .contact-list-icon {
  fill: #757575;
}/*# sourceMappingURL=main.css.map */