.customers {
    padding: 60px 0px;
    &-title {
        @include typography(inherit, 700, 28px, 32.81px, 0.03em);
        color: $dgrey;
        text-align: center;
        margin-bottom: 30px;
        @include desk(1199px) {
            margin-bottom: 50px;
            @include typography(inherit, 36px, 700, 42.19px, 0.03em);
        }
    }
    
    &-list {
        @include flex(center, _, 30px, wrap, _);
        &-item {
            width: 210px;
            height: 92px;
            border: 1px solid $svggrey;
            border-radius: 4px;
            @include flex(center, center, _, _, _);
            &:hover {
                border: 1px solid $accent-color;
                .customers-list-use {
                    fill: $accent-color;
                    transition: 500ms;
                }
            }

            .customers-list-use {
                fill: $svggrey;
            }

            @include tab(767px) {
                width: 226px;
            }

            @include desk(1199px) {
                width: 170px;
            }
        }

        @include desk(1199px) {
            @include flex(space-between, _, 0px, nowrap, _);
        }
    }

    @include desk(1199px) {
        padding: 94px 0px;
    }
}