.features {
    padding: 60px 0px;
    &-list {
        @include flex(_, center, 30px, _, column);
        &-title {
            @include typography(inherit, 14px, 700, 16.41px, 0.03em);
            color: $dgrey;
            text-transform: capitalize;
            margin-bottom: 10px;
            text-align: center;
            width: 100%;
            @include tab(767px) {
                text-align: left;
            }
        }
        
        &-text {
            @include typography(inherit, 14px, 400, 24px, 0.03em);
            color: $lgrey;
        }

        &-item {
            width: 450px;
            @include flex(_, center, _, _, column);
            &:nth-child(1)::before {
                content: url("/img/img_18.png");
                margin-bottom: 30px;
            }
            
            &:nth-child(2)::before {
                content: url("/img/img_19.png");
                margin-bottom: 30px;
            }
            
            &:nth-child(3)::before {
                content: url("/img/img_20.png");
                margin-bottom: 30px;
            }
            
            &:nth-child(4)::before {
                content: url("/img/img_21.png");
                margin-bottom: 30px;
            }

            @include tab(767px) {
                width: 354px;
            }

            @include desk(1199px) {
                width: 270px;
            }
        }

        @include tab(767px) {
            @include flex(center, center, 30px, wrap, row);
        }

        @include desk(1199px) {
            @include flex(space-between, _, 0px, _, row);
        }
    }

    @include desk(1199px) {
        padding: 94px 0px;
    }
}