.header {
    background-color: $white;
    width: 100%;
    padding-top: 24px;
    padding-bottom: 25px;
    border: 1px solid #ECECEC;
    position: fixed;
    top: 0;
    &-container {
        @include flex(_, center, 93px, _, _);
    }

    .nav-list {
        @include flex(_, _, 60px, _, _);
        &-link {
            @include typography(inherit, 14px, 500, 16.41px, 0.02em);
            color: $dgrey;
            &:hover {
                color: $accent-color;
            }
        }
        .current {
            position: relative;
            &::after {
                content: "";
                position: absolute;
                background-color: $accent-color;
                height: 4px;
                border-radius: 2px;
                width: 100%;
                bottom: -35px;
                left: 0;
            }
        }
    }
    .contact-list {
        @include flex(_, _, 50px, _, _);
        margin-left: auto;
        &-item {
            @include flex(_, center, 10px, _, _);
            &:hover {
                .contact-list-icon {
                    fill: $accent-color;
                }

                .contact-list-link {
                    color: $accent-color;
                }
            }
        }
        
        &-link {
            @include typography(inherit, 14px, 500, 16.41px, 0.02em);
            color: $lgrey;
        }
        
        &-icon {
            fill: $lgrey;
        }   
    }
}

.company-logo {
    @include typography(Raleway, 26px, 700, 35.96px, 0.03em);
    color: $accent-color;
    &-header {
        color: $black;
    }
    
    &-footer {
        color: $white; 
    }
}