.header {
    background-color: $white;
    width: 100%;
    padding-top: 16px;
    padding-bottom: 16px;
    border: 1px solid #ECECEC;
    position: fixed;
    top: 0;
    z-index: 1;
    &-container {
        @include flex(space-between, center, _, _, _);
        @include desk(1199px) {
            @include flex(space-between, center, 93px, _, _);
        }
    }

    .nav-list {
        display: none;
        &-link {
            @include typography(inherit, 14px, 500, 16.41px, 0.02em);
            color: $dgrey;
            &:hover {
                color: $accent-color;
            }
        }

        .current {
            position: relative;
            &::after {
                content: "";
                position: absolute;
                background-color: $accent-color;
                height: 4px;
                border-radius: 2px;
                width: 100%;
                bottom: -35px;
                left: 0;
            }
        }

        @include tab(767px) {
            @include flex(_, _, 60px, _, _);
        }
    }

    .contact-list {
        display: none;
        &-item {
            @include flex(_, center, 10px, _, _);
            &:hover {
                .contact-list-icon {
                    fill: $accent-color;
                }

                .contact-list-link {
                    color: $accent-color;
                }
            }
        }
        
        &-link {
            @include typography(inherit, 14px, 500, 16.41px, 0.02em);
            text-align: left;
            color: $lgrey;
            @include tab(767px) {
                @include typography(inherit, 12px, 500, 14.06px, 0.02em);
            }
        }
        
        &-icon {
            fill: $lgrey;
        }
        
        @include tab(767px) {
            @include flex(_, _, 10px, _, column);
        }

        @include desk(1199px) {
            @include flex(_, _, 50px, _, row);
            margin-left: auto;
        }
    }

    .mobile-menu-btn-open {
        background: transparent;
        .mobile-menu-svg {
            fill: $dgrey;
        }

        @include tab(767px) {
            display: none;
        }
    }

    @include tab(767px) {
        padding-top: 26px;
        padding-bottom: 26px;
    }

    @include desk(1199px) {
        padding-top: 24px;
        padding-bottom: 25px;
    }
}

.company-logo {
    @include typography(Raleway, 24px, 700, 28.18px, 0.03em);
    text-align: left;
    color: $accent-color;
    &-header {
        color: $black;
    }
    
    &-footer {
        color: $white; 
    }

    @include desk(1199px) {
        @include typography(Raleway, 26px, 700, 35.96px, 0.03em);
    }
}