.portfolio {
    padding: 60px 0px;    
    &-container {
        @include flex(_, center, _, _, column);
        .filter-list {
            margin-bottom: 50px;
            @include flex(_, _, 8px, wrap, _);
            row-gap: 15px;
            &-btn {
                @include typography(inherit, 16px, 500, 26px, 0.03em);
                color: $dgrey;
                background-color: $light-background;
                padding: 6px 25px;
                border-radius: 4px;
                cursor: pointer;
                transition-property: background-color, color;
                transition-duration: 0.4s;
                &:hover {
                    color: $white;
                    background-color: $accent-color;
                }
            }

            @include desk(1199px) {
                @include flex(space-between, _, 8px, _, _);
            }
        }

        .product-list {
            @include flex(_, _, 30px, wrap, _);
            &-item {
                border: 1px solid #eeeeee;
                width: 450px;
                height: 404px;
                &:hover {
                    box-shadow: 1px 4px 6px 0px #00000029;
                    box-shadow: 0px 4px 4px 0px #0000000F;
                    box-shadow: 0px 1px 1px 0px #0000001F;
                }

                @include tab(767px) {
                    width: 354px;
                }

                @include desk(1199px) {
                    width: 370px;
                }
            }
    
            &-link:hover {
                cursor: pointer;
                & .product-list-overlay-text {
                    transform: translate(0, 0);
                }
            }
    
            &-overlay-wrap {
                position: relative;
                overflow: hidden;
            }
    
            &-overlay-text {
                color: $white;
                background-color: #2196F3E5;
                padding: 77px 24px;
                position: absolute;
                top: 0;
                left: 0;
                @include typography(inherit, 18px, 400, 28px, 0.03em);
                text-align: left;
                transform: translate(0, 100%);
                transition: 1s;
                @include tab(767px) {
                    padding: 50px 24px 77px 24px;
                }

                @include desk(1199px) {
                    padding: 63px 24px;
                }
            }
    
            &-img {
                display: block;
            }
            
            &-title {
                @include typography(Roboto, 18px, 700, 36px, 0.06em);
                color: $dgrey;
                margin-bottom: 4px;
            }
            
            &-type {
                @include typography(Roboto, 16px, 400, 30px, 0.03em);
                text-align: left;
                color: $lgrey;
            }
            
            &-text-wrap {
                padding: 20px 24px 22px 24px;
            }
        }
    }

    @include desk(1199px) {
        padding: 94px 0px;
    }
}