.team {
    background-color: $light-background;
    padding: 60px 0px;
    &-title {
        @include typography(inherit, 36px, 700, 42.19px, 0.03em);
        text-align: center;
        color: $dgrey;
        margin-bottom: 30px;
        @include desk(1199px) {
            margin-bottom: 50px;
        }
    }
    
    &-list {
        @include flex(_, center, 30px, nowrap, column);
        &-item {
            background-color: $white;
            width: 450px;
            height: 622px;
            text-align: center;
            border-radius: 0px 0px 4px 4px;
            box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 20%), 0px 1px 1px 0px rgba(0, 0, 0, 14%), 0px 1px 3px 0px rgba(0, 0, 0, 12%);
            @include tab(767px) {
                width: 354px;
                height: 536px;
            }

            @include desk(1199px) {
                width: 270px;
                height: 428px;
            }
        }

        &-title {
            @include typography(inherit, 16px, 500, 18.75px, 0.03em);
            text-align: center;
            color: $dgrey;
            margin-top: 30px;
        }

        &-text {
            @include typography(inherit, 16px, 400px, 18.75px, 0.03em);
            text-align: center;
            color: $lgrey;
            margin-top: 10px;   
        }

        &-social-list {
            @include flex(center, center, 10px, _, _);
            margin-right: 32px;
            margin-left: 32px;
            margin-bottom: 30px;
            margin-top: 16px;
            &-item {
                width: 44px;
                height: 44px;
                border-radius: 50%;
                @include flex(center, center, _, _, _);
                &:hover {
                    background-color: $accent-color;
                    cursor: pointer;
                    .team-list-social-list-link>.team-list-social-list-svg {
                        fill: $white;
                    }
                    transition: 500ms;
                    transition-property: background-color; 
                }
            }
            
            &-link {
                @include flex(center, center, _, _, _);
            }

            &-svg {
                fill: $svggrey;
            }
        }

        @include tab(767px) {
            @include flex(_, _, 30px, wrap, row);
        }

        @include desk(1199px) {
            @include flex(space-between, _, nowrap, _, row);
        }
    }

    @include desk(1199px) {
        padding: 94px 0px;
    }
}