.mobile-menu {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: $white;
    width: 100vw;
    height: 100vh;
    padding: 48px 40px;
    transform: translateX(0);
    transition: 500ms;

    &-btn-close {
        background: transparent;
        color: $dgrey;
        position: absolute;
        top: 10px;
        right: 15px;
        width: 40px;
        height: 40px;
        use {
            fill: $dgrey;
        }
    }

    &-container {
        @include flex(space-between, _, _, _, column);
    }

    &-nav-list-item:not(:last-child) {
        margin-bottom: 32px;
    }

    &-nav-list-link {
        @include typography(inherit, 40px, 500, 46.88, 0.02em);
        text-align: left;
        color: $dgrey;
    }

    &-nav-list-link:hover {
        color: $accent-color;
    }

    &-contact-list {
        margin-top: 302px;
        margin-bottom: 64px;
    }

    &-contact-list-item {
        margin-bottom: 32px;
    }

    &-contact-list-link:first-child {
        @include typography(inherit, 34px, 500, 39.84px, 0.02em);
        text-align: left;
        color: $accent-color;
    }

    &-contact-list-link-mail:last-child {
        @include typography(inherit, 24px, 500, 28.13px, 0.02em);
        text-align: left;
        color: $lgrey;
    }

    &-social-list {
        display: flex;
        gap: 10px;
        &-social-list-item:not(:first-child) {
            border-left: 1px solid #21212120;
            padding-left: 10px;
        }
    }

    

    &-social-list-link {
        @include typography(inherit, 18px, 500, 22px, 0.02em);
        text-align: left;
        color: $accent-color;
    }

    &-btn-close:hover {
        use {
            fill: $accent-color;
        }
    }

    &.is-hidden {
        opacity: 0;
        pointer-events: none;
        visibility: hidden;
        transform: translateX(100%);
    }
}