.mobile-menu {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: $white;
    width: 100vw;
    height: 100vh;
    padding: 48px 40px;
    transform: translateX(0);
    transition: 500ms;
    @include flex(space-between, _, _, _, column);

    &.is-hidden {
        opacity: 0;
        pointer-events: none;
        visibility: hidden;
        transform: translateX(100%);
    }

    &-btn-close {
        background: transparent;
        position: absolute;
        top: 10px;
        right: 15px;
        width: 40px;
        height: 40px;
        use {
            fill: $dgrey;
        }

        &:hover {
            use {
                fill: $accent-color;
            }
        }
    }

    &-nav-list {
        margin-top: 8px;
        &-item:not(:last-child) {
            margin-bottom: 32px;
        }

        &-link {
            @include typography(inherit, 40px, 500, 46.88px, 0.02em);
            text-align: left;
            color: $dgrey;
            &:hover {
                color: $accent-color;
            }   
        }
    }

    &-contact-list {
        margin-bottom: 64px;
        text-align: left;
        &-item {
            margin-bottom: 32px;
            &:first-child {
                @include typography(inherit, 34px, 500, 39.84px, 0.02em);
                color: $accent-color;
            }
        
            &:last-child {
                @include typography(inherit, 24px, 500, 28.13px, 0.02em);
                color: $lgrey;
            }
        }
    }

    &-social-list {
        @include flex(_, _, 10px, _, _);
        &-item:not(:first-child) {
            border-left: 1px solid #21212120;
            padding-left: 10px;
        }

        &-link {
            @include typography(inherit, 18px, 500, 22px, 0.02em);
            text-align: left;
            color: $accent-color;
        }
    }
}